version: '3'
services:
  app:
    build: ./app
    volumes:
      - ./storage:/app/storage/:ro
    restart: always
    deploy:
      replicas: 2

  nginx:
    build: ./nginx
    ports:
    - "443:443"
    depends_on:
      - app
    restart: always
