version: '3'
services:
  app1:
    build: ./app1
    volumes:
      - ./storage:/storage:ro

  app2:
    build: ./app2
    volumes:
      - ./storage:/storage:ro

  nginx:
    build: ./nginx
    ports:
    - "443:443"
    volumes:
      - ./nginx/www.example.com.crt:/etc/nginx/www.example.com.crt:ro
      - ./nginx/www.example.com.key:/etc/nginx/www.example.com.key:ro
    depends_on:
      - app1
      - app2
